.resumepage-overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	animation: onLoad 2.5s forwards;
}

.resumepage-overlay > * {
	transition: all 0.3 ease-in;
	font-family: "Manrope";
}

@keyframes onLoad {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}	
}
	.resume-header {
		width: 100%;
		display: flex;
		justify-content: left;
}

.resume-header > :last-child {
}

.resume-button {
	align-self: center;
	margin-left: 1rem;
	height: 100px;
	width: 100px;
	background: transparent;	
	font-weight: 500;
	font-size: 32px;
	color: #FFAAFF;
	border: 2px solid transparent;
	border-radius: 0%;
	transition-property: all;
}
.resume-button:hover {
	border: 2px solid transparent;
	text-shadow: #FFAAFF 0 0 5px;

 }

.resume-body {
	text-align: left;
	margin: 0 4rem;	
	color: #FFAAFF;
}

 .resume-body > h2 {
	font-weight: 800;
	font-size: 4rem;

 } 
  .resume-body > p {
	font-weight: 400;
	font-size: 1.2rem;
 }
